@page "/CreateDB"
@rendermode InteractiveServer
<h3>CreateDB</h3>
<button @onclick="Create">CreateDB</button>
@code {
    
    private void Create()
    {
        using (DataBase.ApplicationContext db = new DataBase.ApplicationContext())
        {
            db.Database.EnsureDeleted();
            db.Database.EnsureCreated();
            
            pisLab1.Spy spy1 = new pisLab1.Spy {Id = Guid.NewGuid(), FirstName = "John", SecondName = "Doe",Alias = "Pol", DateOfBirth = DateTime.Now, Nationality = "Russian"};;
            pisLab1.Spy spy2 = new pisLab1.Spy {Id = Guid.NewGuid(), FirstName = "Jole", SecondName = "Doe",Alias = "Ron", DateOfBirth = DateTime.Now, Nationality = "Russian"};;
            db.Spies.AddRange(spy1,spy2);

            Mission mission1 = new Mission { Id = Guid.NewGuid(), Name = "Day x", Description = "Random data", SpyId = spy1 };
            Mission mission2 = new Mission { Id = Guid.NewGuid(), Name = "Day r", Description = "Random data", SpyId = spy2 };
            db.Missions.AddRange(mission1,mission2);

            Equipment equipment1 = new Equipment { Id = Guid.NewGuid(), Name = "Pistol", Description = "Random data", SpyId = spy1 };
            Equipment equipment2 = new Equipment { Id = Guid.NewGuid(), Name = "Action Rifle", Description = "Random data", SpyId = spy2 };
            db.Equipments.AddRange(equipment1,equipment2);
            
            db.SaveChanges();
            Console.WriteLine("!!!!");
        }
    }

}